<div class="main">
  <img
    class="pizza-image"
    src="../../../assets/pexels-pranjall-kumar-8611553.jpg"
    alt="Pizza Image"
  />
  <div class="left-content">
    <h1 class="headline">
      Satisfy Your Cravings <br />
      With Our Pizzas
    </h1>
    <p class="content">
      From classic favourites to creative new combinations, <br />
      We have got something for every pizza lover. <br />
      Join us for the slice of heavan.
    </p>

    <div class="btn-container">
      <button type="button" class="btn btn-order" routerLink="/main">
        Order Now
      </button>
    </div>
  </div>
</div>
