<div class="container">
  <header class="header">
    <h1 class="hero">Pizzeria</h1>
    <nav>
      <ul class="nav-list">
        <li>Home</li>
        <li>Menu</li>
        <li>Offers</li>
        <li>Service</li>
      </ul>
    </nav>
    <div>
      <button class="btn-login" type="button">Login</button>
    </div>
  </header>
  <div class="main">
    <div class="left-content">
      <h1 class="headline">
        Satisfy Your Cravings <br />
        With Our Pizzas
      </h1>
      <p class="content">
        From classic favourites to creative new combinations, <br />
        We have got something for every pizza lover. <br />
        Join us for the slice of heavan.
      </p>

      <div class="btn-container">
        <button type="button" class="btn-order">Order Now</button>
      </div>
    </div>
  </div>
</div>
