.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap {
  column-gap: 12px;
  row-gap: 16px;
}

.gap-2 {
  gap: 16px;
}

.price-label {
  font-weight: 500;
  font-size: 18px;
  // color: #00ab4f;
}

.price-label-card {
  font-weight: 500;
  font-family: Inter, sans-serif;
}
